/*==========================================================================
Font
========================================================================== */
$dm: 'DM Serif Display', serif;
$inter: 'Inter', sans-serif;
/*==========================================================================
Color
========================================================================== */
$body-color: #686C73;
$white: #fff;
$primary-color: #F7CD46;
$secondary-color: #3C3932;
$border: #CDCED0;
$border1: #E6E7E8;
$thin-bg: #fcfaf6;
$shadow:rgba(0, 0, 0, 0.04);