/*==========================================================================
About
========================================================================== */
.about__area {
    &-left {
        max-width: 600px;
    }
    &-right {
        position: relative;      
        &-content {
            background: $primary-color;
            padding: 0px 13px 15px 13px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: 60px;
            left: 0;
            width: 160px;
            height: 160px;
            span {
                color: $secondary-color;
                font-size: 72px;
                line-height: 90px;
                font-family: $dm;
                font-weight: 400;
            }
            sup {
                color: $secondary-color;
                line-height: 32px;
                font-family: $dm;
                font-size: 42px;
                font-weight: 400;
            }
            p {
                color: $secondary-color;
                font-size: 12px;
                line-height: 16px;
                font-weight: 600;
            }
        }
        &-image {
            img {
                max-width: 85%;
            }
        }
    }
}

@media (max-width: 991px) {
    .about__area {
        &-right {
            margin-bottom: 41px;
        }
    }
}

@media (max-width: 540px) {
    .about__area {
        &-right {
            margin-bottom: 41px;       
            &-content {
                padding: 15px 30px;
                flex-direction: column;
                bottom: -40px;
                width: 150px;
                height: 153px;
                span {
                    font-size: 60px;
                    line-height: 55px;
                }
                sup {
                    font-size: 35px;
                    line-height: 55px;
                }
                p {
                    font-size: 12px;
                    line-height: 18px;
                    font-weight: 500;
                }
            }
            &-image {
                img {
                    max-width: 90%;
                }
            }
        }
    }
}

