/*==========================================================================
Banner 
========================================================================== */
.banner__area {
	background-image: url(caisnovo/assets/img/img-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
	position: relative;
    &-content {
        padding: 200px 0px;
        max-width: 65%;
        h1 {
            font-size: 72px;
            line-height: 95px;
            color: $white;
            margin-bottom: 15px;
            font-weight: 400;
        }
        p {
            font-size: 18px;
            line-height: 32px;
            color: $border1;
            margin-bottom: 25px;
            width: 75%;
            font-weight: 300;
        }
    }
    &-left {
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center bottom;
        width: 50%;
        left: 0;
        bottom: 0;
        top: 50px;
    }
    &-right {
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
        height: 100%;
        width: 40%;
        right: 0;
        top: 0;
        bottom: 0;
    }
}

#deslize {
    display: flex; 
    align-items: center; 
    margin-top: 70px;
}

#pdeslize {
    font-size: 16px; 
    line-height: 26px; 
    text-transform: uppercase; 
    margin: 0;
    padding-left: 5px;
}

@media (max-width: 1199px) {
	.banner__area {
        &-right {
            display: none;
        }
    }
}
@media (max-width: 767px) {
	.banner__area {
        &-content {
            padding: 200px 0px;
            h1 {
                font-size: 80px;
                line-height: 90px;
            }
            p {
                font-size: 18px;
                line-height: 34px;
            }
        }
    }
}
@media (max-width: 575px) {
	.banner__area {
        background-image: url(caisnovo/assets/img/IMG-HEADER-MOBILE.png);
        background-color: #161616;
        background-size: 200%;
        background-position: top left;
        &-content {
            max-width: 100%;
            padding: 120px 0px;
            h1 {
                font-size: 58px;
                line-height: 68px;
            }
        }
        p {
            width: 100%;
        line-height: 32px;
        font-weight: 300;
        }
    }
    #deslize {
        display: flex; 
        align-items: center; 
        margin-top: 20px;
    }
    
    #pdeslize {
        font-size: 16px; 
        line-height: 26px; 
        text-transform: uppercase; 
        margin: 0;
    }


    #heromobile {
        line-height: 66px;
    }

}



@media (max-width: 360px) {
	.banner__area {
        &-content {
            h1 {
                font-size: 48px;
                line-height: 58px;
            } 
            p {
                width: 100%;
            line-height: 32px;
            font-weight: 300;
            }
        }
    }
}